.topnav{
    background-color:black;
    overflow:hidden;
}

.topnav a{
    float:right;
    color:white;
    text-decoration:none;
    padding-left:16px;
    padding-right:16px;
    padding-top:16px;
    padding-bottom:16px;
    font-size:20px;
}

body{
    margin: 0 ;
    font-family:'Times New Roman', Times, serif
}

.topnav a:hover{
 background-color:white;
 color:black;
}

.topnav a.action{
    background-color:green;
    color:white;
}